{% extends "base.html" %}
{% load blog_extras %}
{% block to_head %}
    <link href="/css/shCore.css" type="text/css" rel="stylesheet" />
    <link href="/css/shThemeDefault.css" type="text/css" rel="stylesheet" />

{% endblock %}
{% block title %}Kelvinism.com - Press{% endblock %}
{% block content %}

<div id="bd">
	<div id="yui-main">
		<div class="yui-b">
            <div class="yui-g">
                <div class="contentitem">
                                   

                    <h4>Speaking For the Students</h4>
                    <p>As a member of ASPSU (Associated Students of Portland State University) I was often asked to speak before legislatures or public officials.  This is a school-wide email announcing a speech I gave before the education subcommittee of the State legislature.</p>

                    <a href="https://www.lists.pdx.edu/pipermail/gov-relations/2003-April/000088.html">Live Article</a> | <a href="/media/press/school-mail.html">Archived Version</a>

                    <h4>Anti-War Protests</h4>

                    <p>In 2003 the United States appeared as though it would be going to war for unclear reasons.  While I understand war is often a means to an ends, I didn't feel the ends were being honestly created and displayed to the American public.</p>
                    <a href="http://media.www.dailyvanguard.com/media/storage/paper941/news/2003/01/21/News/25000.Protesters.Fill.City.Streets-2610711.shtml">Live Article</a> | <a href="/media/press/anti-war.html">Archived Version</a>

                    <h4>Get Out The Vote</h4>

                    <p>Another role I had in ASPSU was to encourage people to vote.  This is a press release where I'm quoted for the GOTV (get out the vote) campaign.  We registered significantly more people than any other school in Oregon.</p>

                    <a href="http://www.pdx.edu/news/2909/">Live Article</a> | <a href="/media/press/get-out-the-vote.html">Archived Version</a>

                    <h4>Saving Transportation Subsidies</h4>

                    <p><a href="http://www.pdx.edu">Portland State University</a> is a transit campus, with only a small portion of people actually living on campus.  One of the campaigns we ran involved educating the students that their subsidy would end, and prices for bus passes would increase substantially.  We had hundreds (thousands?) of students sign our big bus.</p>

                    <a href="http://media.www.dailyvanguard.com/media/storage/paper941/news/2002/12/03/News/Aspsu.Rallies.To.Save.Subsidies-2610571.shtml">Live Article</a> | <a href="/media/press/save-subsidies1.html">Archived Version</a>

                    <h4>Debating the Trade Embargo</h4>

                    <p>While in High School I had the privilege to travel to Cuba and debate the trade embargo.  Here are two related articles:</p>

                    <a href="http://dailytidings.com/2000/news0117/headline/dt_news.html">Live Article</a> | <a href="/media/press/to-cuba.html">Archived Version</a><br />
                    <a href="http://archive.mailtribune.com/archive/99/dec99/122399n4.htm">Live Article</a> | <a href="/media/press/to-cuba2.htm">Archived Version</a><br />

                </div>
            </div>
        </div>
	</div>

	<div class="yui-b">
		<h4>About This Page</h4>
        <div class="aboutpage">
            <p>Archived press clippings or references.</p>
        </div>

        <h4>Contact Me</h4>
        <ul>
            <li><b>Email</b>: kelvin@kelvinism.com</li>
            <li><b>GTalk</b>: zephell@gmail.com</li>
        </ul>
        <br />
        <a href="http://www.facebook.com/kelvinism"><img src="/images/Facebook32.png" /></a><a href="http://au.linkedin.com/in/kelvinism"><img src="/images/Linkedin32.png" /></a><a href="http://twitter.com/zephell"><img src="/images/Twitter32.png" /></a><a href="https://profiles.google.com/zephell"><img src="/images/Google32.png" /></a><a href="https://picasaweb.google.com/zephell/"><img src="/images/Picasa32.png" /></a><a href="http://vimeo.com/user3417633"><img src="/images/Vimeo32.png" /></a><a href="http://www.last.fm/user/kelvinn"><img src="/images/Last.fm32.png" /></a><a href="http://www.delicious.com/kelvinn"><img src="/images/Delicious32.png" /></a><a href="http://disqus.com/zephell/"><img src="/images/Disqus32.png" /></a>
        <br />

    </div>

</div>

{% endblock %}

