{% extends "base.html" %}
{% block to_head %}

{% endblock %}
{% block title %}Kelvinism.com - 404{% endblock %}
{% block content %}

<div id="bd">
	<div id="yui-main">
		<div class="yui-b"><div class="yui-g">
                  
			<h4>Whoopsies 404</h4>
			
			The page you're looking for wasn't found. This most likely isn't your fault, but verify the URL is correct.  If it is, feel free to <a href="/about-me/">contact me</a>
        </div></div>
	</div>

	<div class="yui-b">
            <h4>About This Page</h4>
            <p>This entry is an error page.</p>
            </p>
    </div>

</div>
<br />
{% endblock %}
