{% extends "base.html" %}
{% block to_head %}

{% endblock %}
{% block title %}Kelvinism.com - 500{% endblock %}
{% block content %}

<div id="bd">
	<div id="yui-main">
		<div class="yui-b"><div class="yui-g">
                  
			<h4>Whoopsies 500</h4>
			
			This is bad. The page you are trying to look at has an issue and will not be displayed.  It isn't your fault.
			
        </div></div>
	</div>

	<div class="yui-b">
            <h4>About This Page</h4>
            <p>This entry is an error page.</p>
            </p>
    </div>

</div>
<br />
{% endblock %}
